__astcache/
__history/
__recovery/
Docs/
Win32/
Win64/
html/
latex/
*.bak
*.dcp
*.dcu
*.dll
*.drc
*.dres
*.bpl
*.bpi
*.il?
*.local
*.map
*.o
*.obj
*.ocx
*.pdi
*.res
*.rsm
*.so
*.stat
*.tds
*.~*
*.twfd
*.twopts
twfiles.@@@